::-webkit-scrollbar {display: none;}

* {
    padding: 0;
    margin: 0;
    font-style: italic;
    font-family: sans-serif;
}

#cuerpo {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #F1FFEC; 
    font-family: sans-serif !important;
    overflow: hidden;
}

/* ----- Login ----- */

.login {
    width: 100%;
    height: 100%;
}

.logo {
    width: 35%;
    height: 40%;
    margin: auto;
    padding-top: 3%;
    text-align: center;
}

.imagen {
    width: 60%;
    height: 100%;
    margin: auto;
    background-color: #A6FA89;
    border-radius: 100%;
    align-items: center;
    display: flex;
}

.imagen img {
    width: 100%;
    margin: auto;
    border-radius: 100%;
}

#nombre {
    margin-top: -10%;
}

#nombre img {
    width: 80%;
}

.formulario {
    margin: 40px auto;
    width: 40%;
}

.input-login {
    background-color: #D9FFCC !important;
    color: black;
    text-align: center;
    margin-top: 30px;
    border: none !important;
    box-shadow: 4px 4px 4px 0px #B5C0B2;
}

.input-login::placeholder {
    color: #83987B !important;
    font-weight: bold;
    text-align: center;
}

.boton {
    background-color: #A6FA89 !important;
    border-radius: 50px !important;
    font-weight: bolder !important;
    margin-left: 50%;
    box-shadow: 4px 4px 4px 0px #B5C0B2;
}

.botones-login {
    width: 100%;
    margin: 20px auto;
}

/* ----- Todas las ventanas ----- */
.ventana {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 60px;
    background-color: #A6FA89;
    box-shadow: 0px 4px 4px 0px #B5C0B2;
}

.logo-ventanas {
    width: 50px;
    height: 50px;
    margin: 5px 0 0 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 2px #B5C0B2;
    user-select: none;
}

.contenedor {
    width: 100%;
    height: 100%;
    margin: 0;
}

p {
    user-select: none;
}

/* ----- Menú ----- */

.botones-menu, .informacion, .citas-bloque{
    display: inline-block;
}

.botones-menu {
    width: 600px;
    height: 249.5px;
    float: left;
    margin: 20px 0 0 20px;
}

.boton-individual {
    width: 280px;
    height: 104.5px;
    display: inline-block;
    background-color: #A6FA89;
    border-radius: 15px;
}

.boton-citas, .boton-pacientes{
    float: left;
}

.boton-medicamentos, .boton-consultas{
    float: right;
}

.boton-pacientes, .boton-consultas {
    margin-top: 40.5px;
}

.botonC {
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 4px 0px #B5C0B2;
    border-radius: 15px !important;
    font-weight: bolder !important;
}

.informacion {
    width: 220px;
    height: 190px;
    float: right;
    background-color: #D9FFCC;
    margin: 20px 20px 0 0;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px #B5C0B2;
}

#fechaInfo {
    font-weight: bolder !important;
    text-align: center;
    line-height: 25px;
    background-color: #A6FA89;
    font-size: 15px;
    padding-top: 3px;
    width: 200px;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    border-radius: 12px;
}

.botones-info {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.boton-conf, .boton-salir {
    width: 50px;
    height: 50px;
    background-color: #A6FA89;
    display: inline-block;
    border-radius: 15px;
    margin-left: 40px;
}

.botonInfo {
    width: 100%;
    height: 100%;
    border-radius: 15px !important;
}

#horaInfo {
    font-weight: bolder !important;
    text-align: center;
    line-height: 25px;
    background-color: #A6FA89;
    font-size: 15px;
    padding-top: 3px;
    width: 90px;
    height: 30px;
    margin-right: 10px;
    border-radius: 15px;
    float: right;
}

.iconos {
    width: 32px;
    height: 32px;
}

.citas-bloque {
    width: 600px;
    height: 230px;
    float: left;
    background-color: #D9FFCC;
    margin: 20.5px 0 0 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px #B5C0B2;
}

.tituloCitas {
    font-weight: bolder !important;
    font-size: 18px;
    margin: 10px 0 0 15px;
}

.contenedorCitas {
    width: 100%;
    height: 70%;
    display: grid;
    justify-content: center;
    grid-template-columns: 120px 120px 120px 100px 100px;
    grid-template-rows: 40px 40px 40px 40px;
    row-gap: 5px;
}

.medicamentos-bloque {
    width: 220px;
    height: 280px;
    float: right;
    background-color: #D9FFCC;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px #B5C0B2;
    margin: -30px 20px 0 0;
}

.tituloMedicamentos {
    font-weight: bolder !important;
    font-size: 18px;
    margin-top: 12px;
    text-align: center;
}

.contenedorMedicamentos {
    width: 100%;
    height: 70%;
}

/* Pacientes */

.botonesTodos {
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 300px 306px 100px auto;
}

.botonBack, .botonBuscar {
    width: 50px;
    height: 50px;
    background-color: #A6FA89 !important;
    border-radius: 15px !important;
    box-shadow: 4px 4px 4px 0px #B5C0B2;
}

.botonAgregar {
    width: 100px;
    height: 50px;
    background-color: #A6FA89 !important;
    border-radius: 15px !important;
    box-shadow: 4px 4px 4px 0px #B5C0B2;
}

.tituloP {
    background-color: #D9FFCC;
    font-weight: bolder;
    width: 300px;
    height: 60px;
    font-size: 35px;
    border-radius: 15px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px #B5C0B2;
    padding-top: 5px;
}

.back {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-right: 100px;
}

.tituloGrande {
    grid-column-start: 2;
    grid-column-end: 2;
    align-items: center;
    display: flex;
}

.buscar {
    grid-column-start: 3;
    grid-column-end: 3;
}

.agregar {
    grid-column-start: 4;
    grid-column-end: 4;
    padding-right: 40px;
}

.buscar, .agregar, .back{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.datos {
    width: 840px;
    height: 40px;
    display: grid;
    grid-template-columns: 110px 110px 110px 110px 80px 85px auto;
    grid-template-rows: 40px;
    column-gap: 5px;
    margin: auto;
}

.tituloDatos {
    width: auto;
    height: 100%;
    font-weight: bolder;
    background-color: #A6FA89;
    border-radius: 15px;
    text-align: center;
}

.medios {
    font-size: 13px;
}

.datosUno {
    padding-top: 8px;
}

.listaPacientes {
    width: 860px;
    height: 350px;
    background-color: #D9FFCC;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 113px 116px 116px 116px 85px 90px 203px;
    grid-auto-rows: 40px;
    justify-content: center;
    row-gap: 5px;
    text-align: center;
    line-height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.pacienteUno {
    background-color: #A6FA89;
    padding: 5px;
}

.pacienteDos {
    background-color: #99E480;
    padding: 5px;
}

.primero {
    border-radius: 15px 0 0 15px;
}

.ultimo {
    border-radius: 0 15px 15px 0;

}

/* Modal Paciente */

.tituloModalP {
    margin-top: 15px;
    font-size: 22px;
    width: 180px;
    text-align: center;
    font-weight: bolder;
}

.headerModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputP {
    background-color: #D9FFCC;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px #B5C0B2;
    text-align: center;
    height: 40px;
}

.nombreP {
    width: 250px;
    margin: 20px 0 0 8px;
}

.apellidos {
    width: 200px;
}

.aP {
    margin-left: 20px;
}

.aM {
    margin: 40px 0 0 8px;
}

.aMB {
    margin: 20px 0 0 8px;
}

.telP {
    width: 157px;
    margin-left: 60px;
}

.edad, .generoP {
    width: 80px;
    margin: 40px 8px 0 8px;
}

.dirP {
    width: 280px;
}

.botonFormP {
    background-color: #A6FA89;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px #B5C0B2;
    float: right;
    margin: 20px 15px 0 0;
}

input:focus, button[type=submit] {
    outline-color: #B5C0B2;
}

.datosCitas {
    grid-template-columns: auto auto auto auto auto;
}

.listaCitas {
    grid-template-columns: 140px 225px 230px 120px 120px;
}

.tituloM {
    padding-top: 10px;
    font-size: 25px;
}

.datosMedicina {
    grid-template-columns: auto auto;
}

.listaMedicina {
    grid-template-columns: 420px 420px;
}

.botonFormM {
    margin-top: 40px;
}

.cantidad {
    width: 100px;
    margin: 40px 0 0 15px;
}

.labelCita {
    margin-left: 10px;
}

#fechaCita {
    margin-top: 40px;
    margin-right: 10px;
}

.botonFormC {
    margin-top: 40px;
}